/*
... take css from useful plain text sites ...
*/

/* attributed to https://datatracker.ietf.org/doc/html/draft-mealling-uuid-urn-05 */

@media only screen
and (min-width: 992px)
and (max-width: 1199px) {
    body { font-size: 15pt; }
    div.content { width: 96ex; margin: 0 auto; }
}
@media only screen
and (min-width: 768px)
and (max-width: 991px) {
    body { font-size: 15pt; }
    div.content { width: 96ex; margin: 0 auto; }
}
@media only screen
and (min-width: 480px)
and (max-width: 767px) {
    body { font-size: 13pt; }
    div.content { width: 96ex; margin: 0 auto; }
}
@media only screen
and (max-width: 479px) {
    body { font-size: 10pt; }
    div.content { width: 96ex; margin: 0 auto; }
}
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
    body { font-size: 11pt; }
    div.content { width: 96ex; margin: 0; }
}
@media only screen
and (min-width: 1200px) {
    body { font-size: 17pt; margin: 0 4em; }
    div.content { width: 96ex; margin: 0; }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    /* line-height: 0pt; */
    display: inline;
    font-family: monospace;
    font-size: 2em;
}
h3, .h3 {
    font-weight: normal;
/*     line-height: 0pt; */
    text-align: center;
    display: inline;
/*    white-space: pre;*/
    font-family: monospace;
    font-size: 1.3em;
}
pre {
    font-size: 0.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.pre {
    white-space: pre;
    font-family: monospace;
}
.header{
    font-weight: bold;
}
.newpage {
    page-break-before: always;
}
.invisible {
    text-decoration: none;
    color: white;
}

@media print {
    body {
        margin-top: 3em;
        font-family: monospace;
        font-size: 12pt;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 2em;
    }

    a:link, a:visited {
        color: #def7fe;
        text-decoration: none;
    }
    .noprint {
        display: none;
    }
}

@media screen {
    body {
/*        margin-top: 3em;*/
        font-family: monospace;
/*        font-size: 12pt;*/
    }

    .grey, .grey a:link, .grey a:visited {
        color: #def7fe;
    }
    .meta-info {
        background-color: #EEE;
        width: 96ex;
    }
    .top {
        border-top: 7px solid #EEE;
    }
    .pad {
        padding-top: 7px;
        line-height: 24px;
        padding-bottom: 4px;
    }
    .legend   { font-size: 90%; }
    .cplate   { font-size: 70%; border: solid grey 1px; }
/*    
    .bgwhite  { background-color: white; }
    .bgred    { background-color: #F44; }
    .bggrey   { background-color: #666; }
    .bgbrown  { background-color: #840; }
    .bgorange { background-color: #FA0; }
    .bgyellow { background-color: #EE0; }
    .bgmagenta{ background-color: #F4F; }
    .bgblue   { background-color: #66F; }
    .bgcyan   { background-color: #4DD; }
    .bggreen  { background-color: #4F4; }
*/
}
.draftcontent { margin-top:1em;}


/* https://css-tricks.com/dark-modes-with-css/ */
body {
    background-color: #222222;
    color: #fdffef;

}
a:link, a:visited {
    color: #def7fe;
    text-decoration: none;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fdffef;
    color: #222222;
  }
}


/* attributed to https://stackoverflow.com/a/19759941/9660613 */
.imageWrapperWide {
    width:100%;
    text-align:center;
    page-break-inside:avoid;
}
.imageWrapperWide img {
    display:inline-block;
    width:100%;
    margin:0 auto;
}

.imageWrapperHi {
    height:99%;
    width:100%;
    text-align:center;
    page-break-inside:avoid;
}
.imageWrapperHi img {
    display:inline-block;
    height:100%;
    margin:0 auto;
}

.imageWrapperMid {
    width:42%;
    text-align:center;
    page-break-inside:avoid;
}
.imageWrapperMid img {
    display:inline-block;
    width:42%;
    margin:0 auto;
}

.imageWrapperLogo {
    width:22%;
    text-align:justify;
    page-break-inside:avoid;
}
.imageWrapperLogo img {
    display:inline-block;
    width:22%;
    margin:0 auto;
}
